@font-face {
  font-family: "Grand_Hotel";
  src: url(../fonts/Grand_Hotel/GrandHotel-Regular.ttf);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: initial;
}

.full-container {
  /* background: purple; */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Karla", sans-serif;
}
.frame {
  width: 100%;
}

.scrolled {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
