li {
  list-style: none;
}
a {
  text-decoration: none;
  color: initial;
}

.full-container {
  background: purple;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Karla", sans-serif;
}

.frame1 {
  background-image: url("./components/img/bg.jpg");
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}

.dark-mode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
}
.icon {
  width: 3vw;
  height: 3vh;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
}

.header .logo,
.header .dark-mode-toggle,
.header .nav-link {
  height: 100%;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
}

.logo {
  color: #ffff;
  font-size: 2.5rem;
  font-family: "Niconne", cursive;
}
.header .nav-link ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 50px;
  align-items: center;
  width: fit-content;
  min-width: 50vw;
}

.frame1 .left-side,
.frame1 .right-side {
  height: 100%;
}

.frame1 .left-side {
  display: flex;
  justify-content: end;
  background: linear-gradient(120deg, #ffa800, #be5a11);
  width: 35%;
}

.frame1 .left-side {
  display: flex;
  justify-content: end;
  background: linear-gradient(120deg, #ffa800, #be5a11);
  width: 35%;
}

.frame1 .right-side {
  background: #282525f7;
  width: 65%;
}
/* .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 50px;
  width: 90%;
  margin: 0 auto;

  height: 8vh;
  background-color: bisque;
}
.nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
  height: 100%;
}
.logo img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.nav-link ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 50px;
}
.header {
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.content {
  position: relative;
  top: 0;
  left: 0;
}
.left {
  position: absolute;
  width: 700px;
  height: 980px;
  left: 0px;
  top: 0px;

  background: linear-gradient(
    161.37deg,
    #ffa800 3.42%,
    rgba(190, 90, 17, 0.99) 101.86%
  );
} */

.hamburger-menu-btn {
  display: none;
}
